.texto1{
    position:absolute;
    top: 250px;
    right: 750px;

}

.texto2{
    position:relative;
    top: 200px;
    width: 50%;
    left: 10%;
}

.pie-web{
    position: relative;
    top: 100px;
}
