/* ------------------
 * Structure Styling
    * 01. MAIN
        * a. Routes
        * b. Product detail
            * 01. Product image
            * 02. Description
        * c. Product button
            * 01. Quantity
            * 02. Add button
            * 03. Like and Share button
        * d. Report

 * ------------------ */


/* ------------------
 * 01. MAIN
 * ------------------ */
.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------
 * 01. MAIN
    * a. Routes
 * ------------------ */
.bread-crumbs {
    position: relative;
    margin-top: 1%;
    left: 10%;

}

.bread-crumbs ul {
    list-style: none;
    display: inline-block;
}

.bread-crumbs ul li {
    display: inline;
}

.bread-crumbs ul li a {
    display: block;
    float: left;
    height: 50px;
    background-color: #f3f5fa;
    text-align: center;
    padding: 15px 20px 0 35px;
    position: relative;
    margin: 0 8px 0 0;
    font-size: 13px;
    text-decoration: none;
    color: #504d4d;
}

.bread-crumbs ul li a:after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid #f3f5fa;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 1;
}

.bread-crumbs ul li a:before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.bread-crumbs ul li:first-child a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bread-crumbs ul li:first-child a::before {
    display: none;
}

.bread-crumbs ul li:last-child a {
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bread-crumbs ul li:last-child a:after {
    display: none;
}

.bread-crumbs ul li a:hover {
    background: #efe3fc;
}

.bread-crumbs ul li a:hover:after {
    border-left-color: #efe3fc;
    color: #fff;
}

/* ------------------
 * 01. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
 * ------------------ */

.product-detail {
    display: flex;
}

.product {
    position: relative;
    margin-top: 2%;
    left: 10%;
}

.product .img_container {
    width: 350px;
    height: 450px;
    margin-bottom: 20px;

}

.product .img_container .main_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
    object-fit: cover;
}

.product .thumbnail_container {
    height: 80px;
    display: block;
}

.product .thumbnail_container .thumbnail {
    width: 85px;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    opacity: 0.6;
    transition: .3s;
}

.product .thumbnail_container .thumbnail:hover {
    opacity: 1;
}

.active {
    opacity: 1 !important;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

/* ------------------
 * 01. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
 * ------------------ */

.description {
    background-color: #f3f5fa;
    width: 350px;
    height: 300px;
    margin-top: 2%;
    margin-left: 185px;
    border: 1.5px solid;
    border-radius: 15px;
    position: relative;

}

.description h1 {
    font-size: 25px;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 4%;
}

.description p {
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
    margin-right: 6%;
}

/* ------------------
 * 01. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
    * c. Product button
        * 01. Quantity
 * ------------------ */

.product-button {
    width: 315px;
    height: 250px;
    position: relative;
    left: 555px;
    bottom: 230px;
}

.product-button h1 {
    font-size: 25px;
    font-weight: 600;
    margin-left: 30%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

h2 {
    margin: 0 50px;
    font-size: 30px;
    font-weight: 600;

}

.decrement-increment {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1.5px solid;
    font-size: 30px;
    background-color: #e7ebf5;
    box-shadow: 3px 3px 5px #686768;
    cursor: pointer;
}

.decrement-increment:hover {
    background-color: #efe3fc;
    border-color: #0a021c;
}

/* ------------------
 * 01. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
    * c. Product button
        * 01. Quantity
        * 02. Add button
 * ------------------ */

.add-button:link,
.add-button:visited {
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1.5px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    margin-top: 6%;
    margin-left: 17.5%;
    background-color: #e7ebf5;

}

.add-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    background-color: #efe3fc;
}

.add-button:active {
    transform: translateY(-3px);
}

.add-button:hover::after {
    background-color: rgb(65, 66, 66);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

/* ------------------
 * 01. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
    * c. Product button
        * 01. Quantity
        * 02. Add button
        * 03. Like and Share button
 * ------------------ */

.like-button {
    border: 1.5px solid rgb(175, 175, 175);
    padding: 6px 6px;
    border-radius: 5px;
    margin-top: 7%;
    margin-left: 32.5%;
    display: inline-block;
    cursor: pointer;
}

.like-button.heart-active {
    border-color: #efe3fc;
    border: 1.5px solid;
    background: #efe3fc;
}

.like-button .heart {
    height: 60px;
    width: 60px;
    background: url("/assets/images/heart.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    position: absolute;
    margin-top: 3.8%;
    margin-left: 3%;
    transform: translate(-50%, -50%);
}

.heart.heart-active {
    background-position: right;
    animation: animate .8s steps(28) 1;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.like {
    margin-left: 27px;
    font-size: 18px;
    font-weight: 350;
    font-family: "Montserrat", sans-serif;
    color: grey;

}

.like.heart-active {
    color: black;
}

/* ------------------
 * 01. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
    * c. Product button
        * 01. Quantity
        * 02. Add button
        * 03. Like and Share button
    * d. Report
 * ------------------ */

.report-collapse {
    margin: 30px;
    padding: 30px;
    width: 450px;
    height: auto;
    border-radius: 15px;
    border: 1.5px solid;
    position: relative;
    left: 890px;
    bottom: 830px;
    justify-content: flex-start;
}

.report-collapse section:nth-child(n) {
    text-align: justify;
    position: relative;
}

.report-collapse section:nth-child(n) button {
    margin: 10px 0 10px 0;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1.5px solid;
    border-radius: 10px;
    background-color: #e7ebf5;
    cursor: pointer;
    transition: all .2s;
}

.report-collapse section:nth-child(n) button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    background-color: #efe3fc;
}

.report-collapse section:nth-child(n) button:active {
    transform: translateY(-3px);
}

.report-collapse section:nth-child(n) button:hover::after {
    background-color: rgb(65, 66, 66);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

.texto_expandir {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.open_close {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}

/* ------------------
 * 01. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
    * c. Product button
        * 01. Quantity
        * 02. Add button
        * 03. Like and Share button
    * d. Report
    * e. Related books
 * ------------------ */

.related-books {
    width: 1225px;
    height: auto;
    position: absolute;
    margin-left: 10%;
    top: 925px;

}

#related-books-list li {
    display: inline;

}

.caption {
    color: #000000;
    font-weight: 400;
    font-size: 35px;
    cursor: default;
}

.more {
    color: #000000;
    font-size: 20px;
    padding-left: 67%;
}


/* ------------------
    * copy of filtro.css "Productos"
 * ------------------ */

.products-list {
    width: 97%;
    display: flex;
    flex-wrap: wrap;
}


.products-list .product-item {
    width: 22%;
    margin-left: 3%;
    margin-bottom: 25px;
    box-shadow: 0px 0px 6px 0px rgba(0, 0, 0, 0.22);

    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-start;
}

.products-list .product-item img {
    width: 100%;
}

.products-list .product-item a {
    display: block;
    width: 100%;
    padding: 8px 0;
    background: #2D3E50;

    color: #fff;
    text-align: center;
    text-decoration: none;
}