@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;600;708;800&family=Rubik:wght@300;400;500;600&display=swap');
/*
Fonts:
- Poppins: 300, 400, 600, 700, 800
- Rubik: 300, 400, 500, 600
*/

:root {
    --primary-color: #ff6b6b;
    --secundary-color: #794afa;
    --secundary-dark-color: #453c5c;

    --white-color: #ffffff;
    --light-bg-color: #f2f3f5;
    --light-text-color: #7c899a;
    --border-color: #e5e8ec;
    --dark-color: #0a021c;

    --font-small: 13px;
    --font-smaller: 11px;

    --percent100: 100%;
    --percent50: 50%;

    --fw3: 300;
    --fw5: 500;
    --fw6: 600;
    --fw7: 700;
    --fw8: 800;

    --trans-background-color: background-color .3s, color .3s;
    --trans-background: background-color .3s;
    --trans-color: color .3s;
}




* {
    margin: 0;
    padding: 0;
}

*,
::before,
::after {
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.4;
    color: var(--dark-color);
    background-color: var(--white-color);
}

a {
    text-decoration: none;
    color: inherit;
    -webkit-tap-highlight-color: transparent;
}

ul {
    list-style: none;
}

img {
    max-width: var(--percent100);
    vertical-align: middle;
}

strong {
    font-weight: var(--fw8);
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

input::placeholder {
    font: inherit;
}

h1,
h2,
h3,
h4 {
    font-family: 'Poppins';
}

h1 {
    font-size: calc(1.3cm + 1vw);
    font-weight: var(--fw8);
    line-height: 1;
}

h2 {
    font-size: 2.5em;
}

h3 {
    font-size: 1.2cm;
    font-weight: var(--fw7);
}

h4 {
    font-size: 1em;
    font-weight: var(--fw6);
}

/* ------------------
 * REUSABLE SELECTOR
 * ------------------ */

.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 0.938cm;
}

.column {
    margin-left: -0.938cm;
    margin-right: -0.938cm;
}

.column .row {
    padding: 0 0.938cm;
}

.flexwrap {
    display: flex;
    flex-wrap: wrap;
}

.flexcenter {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flexitem {
    display: flex;
    align-items: center;
}

.flexcol {
    display: flex;
    flex-direction: column;
    gap: lem;
}

.main-links a:hover {
    color: var(--secundary-color);
}

.second-links a:hover {
    color: var(--light-text-color);
}

.icon-small,
.icon-large {
    display: flex;
    align-items: center;
    padding: 0 0.25em;
    font-weight: normal;
}

.icon-small {
    font-size: 1.25em;
    margin: auto;
}

.icon-large {
    font-size: 1.75em;
    padding: 0 0.75em 0 0;
}


.mobile-hide {
    display: none;
}




/* ------------------
 * Structure Styling

    00. Reusable selectors

    01. HEADER
        a. Header Nav
        b. Header Main, Departments Category
        c. Search form
        d. Responsive MENU - Off Canvas
    02. MAIN
        b. Product detail
    03. PRODUCT
        a. Global product
        b. BIG product
        c. MINI product
        d. MAIN product
    04. BANNER
        a. News letter
        b. Widgets
        c. Footer Info
    05. BOTTOM MENU
        a.Search
    06. OVERLAY
    07. PAGE SINGLE
        a. Breadcrumb
        b. Product details
        c. Product description
        d. Product Review
        e. Product Review Form
    08. PAGE SINGLE: SPECIAL OFFER
    09. PAGE CATEGORY
        a. Sidebar products filter
        b. products block
    10. CART
    11. PAGE CART
    12. PAGE CHECKOUT
    13. MODAL
    14. RESPONSIVE
 *
 * ------------------ */


/* ------------------
 * 01. HEADER
 * ------------------ */
header li>a {
    display: flex;
    position: relative;
    line-height: inherit;
    transition: var(--trans-color);
}




/* 01. HEADER --------------------------
    *  a. Header Nav
    * ------------------ */
.header-nav {
    padding: 0.5em 0;
    margin-bottom: 1.5em;
    border-bottom: 1px solid var(--border-color);
}

.trigger {
    font-size: 1.5em;
    display: flex;
    padding: 0.25em;
    margin-right: 0.5em;
}

.logo a {
    font-family: 'Poppins';
    font-size: 1.75em;
    position: relative;
    font-weight: var(--fw8);
    display: flex;
    padding-left: 0.75em;
    margin-right: 2em;
}

.circle {
    position: absolute;
    top: -15px;
    left: 0;
    width: 38px;
    height: 38px;
    border-radius: var(--percent50);
    background-color: var(--light-bg-color);
    z-index: -1;
}

.circle::before {
    content: '';
    position: absolute;
    width: 28px;
    height: 28px;
    border-radius: var(--percent50);
    background-color: var(--secundary-color);
    bottom: 5px;
    right: 5px;
    opacity: .4;
}

.header-nav nav>ul {
    line-height: 100px;
    gap: 2em;
}

.fly-item {
    position: absolute;
    height: 16px;
    font-size: var(--font-smaller);
    padding: 3px;
    text-align: center;
    line-height: 10px;
    color: var(--white-color);
}

nav .fly-item {
    top: 50%;
    margin-top: -24px;
    width: 30%;
    border-radius: 3px;
    right: -32px;
    background-color: var(--primary-color);
}

.header-nav .right {
    position: relative;
    margin-left: auto;
}

.header-nav .right .icon-large {
    position: relative;
}

.header-nav .right .fly-item {
    top: 0;
    right: 16px;
    width: 16px;
    background-color: var(--secundary-dark-color);
    border-radius: var(--percent50);
}

/* 01. HEADER --------------------------
    *  b. Header Main, Departments Category
    * ------------------ */




/* 01. HEADER --------------------------
    *  c. Search Form
    * ------------------ */




/* 01. HEADER --------------------------
    *  d. Responsive MENU - Off Canvas
    * ------------------ */





/* ------------------
 * 02. MAIN
 * ------------------ */
.main {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ------------------
 * 02. MAIN
    * a. Routes
 * ------------------ */
.bread-crumbs {
    position: relative;
    margin-top: 1%;
    left: 10%;

}

.bread-crumbs ul {
    list-style: none;
    display: inline-block;
}

.bread-crumbs ul li {
    display: inline;
}

.bread-crumbs ul li a {
    display: block;
    float: left;
    height: 50px;
    background-color: #f3f5fa;
    text-align: center;
    padding: 15px 20px 0 35px;
    position: relative;
    margin: 0 8px 0 0;
    font-size: 13px;
    text-decoration: none;
    color: #504d4d;
}

.bread-crumbs ul li a:after {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid #f3f5fa;
    position: absolute;
    right: -20px;
    top: 0;
    z-index: 1;
}

.bread-crumbs ul li a:before {
    content: "";
    border-top: 20px solid transparent;
    border-bottom: 30px solid transparent;
    border-left: 20px solid #fff;
    position: absolute;
    left: 0;
    top: 0;
}

.bread-crumbs ul li:first-child a {
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}

.bread-crumbs ul li:first-child a::before {
    display: none;
}

.bread-crumbs ul li:last-child a {
    padding-right: 40px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.bread-crumbs ul li:last-child a:after {
    display: none;
}

.bread-crumbs ul li a:hover {
    background: #efe3fc;
}

.bread-crumbs ul li a:hover:after {
    border-left-color: #efe3fc;
    color: #fff;
}

/* ------------------
 * 02. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
 * ------------------ */

.product-detail {
    display: flex;
}

.product {
    position: relative;
    margin-top: 2%;
    left: 10%;
}

.product .img_container {
    width: 350px;
    height: 450px;
    margin-bottom: 20px;

}

.product .img_container .main_img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
    object-fit: cover;
}

.product .thumbnail_container {
    height: 80px;
    display: block;
}

.product .thumbnail_container .thumbnail {
    width: 85px;
    height: 90px;
    border-radius: 10px;
    cursor: pointer;
    object-fit: cover;
    opacity: 0.6;
    transition: .3s;
}

.product .thumbnail_container .thumbnail:hover {
    opacity: 1;
}

.active {
    opacity: 1 !important;
    box-shadow: 0 5px 5px rgba(1, 23, 46, 0.6);
}

/* ------------------
 * 02. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
 * ------------------ */

.description {
    background-color: #f3f5fa;
    width: 350px;
    height: 300px;
    margin-top: 2%;
    margin-left: 185px;
    border: 1.5px solid;
    border-radius: 15px;
    position: relative;

}

.description h1 {
    font-size: 25px;
    font-weight: 600;
    margin-left: 5%;
    margin-top: 4%;
}

.description p {
    font-size: 18px;
    font-weight: normal;
    text-align: justify;
    margin-right: 6%;
}

/* ------------------
 * 02. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
    * c. Product button
        * 01. Quantity
 * ------------------ */

.product-button {
    width: 315px;
    height: 250px;
    position: relative;
    left: 555px;
    bottom: 230px;
}

.product-button h1 {
    font-size: 25px;
    font-weight: 600;
    margin-left: 30%;
}

.card {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 30%;
}

h2 {
    margin: 0 50px;
    font-size: 30px;
    font-weight: 600;

}

.decrement-increment {
    width: 50px;
    height: 50px;
    border-radius: 15px;
    border: 1.5px solid;
    font-size: 30px;
    background-color: #e7ebf5;
    box-shadow: 3px 3px 5px #686768;
    cursor: pointer;
}

.decrement-increment:hover {
    background-color: #efe3fc;
    border-color: #0a021c;
}

/* ------------------
 * 02. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
    * c. Product button
        * 01. Quantity
        * 02. Add button
 * ------------------ */

.add-button:link,
.add-button:visited {
    text-transform: uppercase;
    padding: 10px 30px;
    border: 1.5px solid;
    border-radius: 1000px;
    display: inline-block;
    transition: all .2s;
    margin-top: 6%;
    margin-left: 17.5%;
    background-color: #e7ebf5;

}

.add-button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    background-color: #efe3fc;
}

.add-button:active {
    transform: translateY(-3px);
}

.add-button:hover::after {
    background-color: rgb(65, 66, 66);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}

/* ------------------
 * 02. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
    * c. Product button
        * 01. Quantity
        * 02. Add button
        * 03. Like and Share button
 * ------------------ */

.like-button {
    border: 1.5px solid rgb(175, 175, 175);
    padding: 6px 6px;
    border-radius: 5px;
    margin-top: 7%;
    margin-left: 32.5%;
    display: inline-block;
    cursor: pointer;
}

.like-button.heart-active {
    border-color: #efe3fc;
    border: 1.5px solid;
    background: #efe3fc;
}

.like-button .heart {
    height: 60px;
    width: 60px;
    background: url("/assets/images/heart.png") no-repeat;
    background-position: left;
    background-size: 2900%;
    position: absolute;
    margin-top: 3.8%;
    margin-left: 3%;
    transform: translate(-50%, -50%);
}

.heart.heart-active {
    background-position: right;
    animation: animate .8s steps(28) 1;
}

@keyframes animate {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

.like {
    margin-left: 27px;
    font-size: 18px;
    font-weight: 350;
    font-family: "Montserrat", sans-serif;
    color: grey;

}

.like.heart-active {
    color: black;
}

/* ------------------
 * 02. MAIN
    * a. Routes
    * b. Product detail
        * 01. Product image
        * 02. Description
    * c. Product button
        * 01. Quantity
        * 02. Add button
        * 03. Like and Share button
    * d. Report
 * ------------------ */

.report-collapse {
    margin: 30px;
    padding: 30px;
    width: 450px;
    height: auto;
    border-radius: 15px;
    border: 1.5px solid;
    position: relative;
    left: 890px;
    bottom: 830px;
    justify-content: flex-start;
}

.report-collapse section:nth-child(n) {
    text-align: justify;
    position: relative;
}

.report-collapse section:nth-child(n) button {
    margin: 10px 0 10px 0;
    padding: 5px 10px 5px 10px;
    text-transform: uppercase;
    font-weight: 600;
    border: 1.5px solid;
    border-radius: 10px;
    background-color: #e7ebf5;
    cursor: pointer;
    transition: all .2s;
}

.report-collapse section:nth-child(n) button:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(27, 27, 27, .5);
    background-color: #efe3fc;
}

.report-collapse section:nth-child(n) button:active {
    transform: translateY(-3px);
}

.report-collapse section:nth-child(n) button:hover::after {
    background-color: rgb(65, 66, 66);
    transform: scaleX(1.4) scaleY(1.5);
    opacity: 0;
}



.texto_expandir {
    position: relative;
    overflow: hidden;
    max-height: 0;
    transition: max-height 0.4s ease-out;
}

.open_close {
    max-height: 500px;
    transition: max-height 0.5s ease-in;
}


/* ------------------
 * 03. FOOTER
 * ------------------ */


/* 03. FOOTER --------------------------
    *  a. News Letter
    * ------------------ */



/* 03. FOOTER --------------------------
    *  b. Widgets
    * ------------------ */




/* 03. FOOTER --------------------------
    *  c. Footer Info
    * ------------------ */




/* ------------------
 * 04. BOTTOM MENU
 * ------------------ */




/* 04. BOTTOM MENU --------------------------
    *  a. Search
    * ------------------ */








/* ------------------
 * 05. OVERLAY
 * ------------------ */






/* ------------------
 * 05. PAGE SINGLE
 * ------------------ */





/* 05. PAGE SINGLE --------------------------
    *  a. Breadcrumb
    * ------------------ */





/* 05. PAGE SINGLE --------------------------
    *  b. Product details
    * ------------------ */




/* 05. PAGE SINGLE --------------------------
    *  c. Product description
    * ------------------ */




/* 05. PAGE SINGLE --------------------------
    *  d. Product Review
    * ------------------ */




/* 05. PAGE SINGLE --------------------------
    *  e. Product Review Form
    * ------------------ */




/* ------------------
 * 05. PAGE SINGLE: SPECIAL OFFER
 * ------------------ */





/* ------------------
 * 06. PAGE CATEGORY
 * ------------------ */





/* 10. PAGE CATEGORY --------------------------
    *  a. Sidebar products filter
    * ------------------ */





/* 06. PAGE CATEGORY --------------------------
    *  b. products block
    * ------------------ */






/* ------------------
 * 07. CART
 * ------------------ */




/* ------------------
 * 08. PAGE CART
 * ------------------ */







/* ------------------
 * 09. PAGE CHECKOUT
 * ------------------ */







/* ------------------
 * 10. MODAL
 * ------------------ */









/* ------------------
 * 11. RESPONSIVE
 * ------------------ */







@media screen and (min-width: 992px) {
    .container {
        padding: 0 2em;
    }

    .desktop-hide {
        display: none;
    }

    .mobile-hide {
        display: block;
    }

    .logo a {
        margin-right: 2em;
    }

    .header-nav {
        padding: 0;
        margin: 0;
        border-bottom: 0;
    }

    .header-nav .right li>a {
        margin-left: 1em;
    }
}