/* barra de año */
ul, ol {
	list-style:none;
}

.nav > li {
	float:left;
}

.nav li a {
	background-color:#E84C3D;
	color:#fff;
	text-decoration:none;
	padding:10px 35px;
	display:block;
	width: 178px;
}

.nav li a:hover {
	background-color:#2D3E50;
}

.nav li ul {
	display:none;
	position:relative;
}

.nav li:hover > ul {
	display:block;
}

.nav li ul li {
	position:relative;
}

.nav li ul li ul {
	right:-140px;
	top:0px;
}

#menu_desple{
	position: relative;
	left: 50%;
}

#menu_text{
	position:absolute;
	left: 61%;
	top: 33%;
}

#menu_desple2{
	position: relative;
	left: 64%;
}

#ruta{
	position: relative;
	left: 20%;
}